#page > header nav ul li.Big_Data a {
    color: rgb(158, 186, 125);
    border-color: rgb(158, 186, 125);
}

@media (max-width:1024px) {
    #page > header nav ul li.Big_Data a {
        background: rgb(158, 186, 125);
    }
    #page > header nav ul li.Big_Data:hover a {
        background: rgb(79, 93, 62);
        text-shadow: 1px 1px 1px rgb(206, 220, 190);
    }
}

section.boxes article.box.categoryBig_Data {
    background: rgb(158, 186, 125);
    border-color: rgb(158, 186, 125);
}
section#content.categoryBig_Data h2,
section#content.categoryBig_Data h3 {
    box-shadow: 0px 0px 15px rgb(158, 186, 125);
    background: rgb(158, 186, 125);
}
section#content.categoryBig_Data a {
    color: rgb(79, 93, 62);
}
section#content.categoryBig_Data div.summary img,
section#content.categoryBig_Data img,
section#content.categoryBig_Data svg {
    border-color: rgb(158, 186, 125);
}
section#content.categoryBig_Data span.icon span.icon-tag {
    background-color: rgb(158, 186, 125);
}
section#content.categoryBig_Data span.icon span.icon-tag:before {
    border-color: rgb(158, 186, 125) transparent transparent rgb(158, 186, 125) !important;
}
section#content.categoryBig_Data span.icon span.icon-tag:after {
    border-color: rgb(158, 186, 125) rgb(158, 186, 125) transparent transparent !important;
}
section#content.categoryBig_Data code {
    background: rgb(206, 220, 190);
    color: inherit;
}
#page > header nav ul li.Coding a {
    color: rgb(79, 202, 174);
    border-color: rgb(79, 202, 174);
}

@media (max-width:1024px) {
    #page > header nav ul li.Coding a {
        background: rgb(79, 202, 174);
    }
    #page > header nav ul li.Coding:hover a {
        background: rgb(39, 101, 87);
        text-shadow: 1px 1px 1px rgb(167, 228, 214);
    }
}

section.boxes article.box.categoryCoding {
    background: rgb(79, 202, 174);
    border-color: rgb(79, 202, 174);
}
section#content.categoryCoding h2,
section#content.categoryCoding h3 {
    box-shadow: 0px 0px 15px rgb(79, 202, 174);
    background: rgb(79, 202, 174);
}
section#content.categoryCoding a {
    color: rgb(39, 101, 87);
}
section#content.categoryCoding div.summary img,
section#content.categoryCoding img,
section#content.categoryCoding svg {
    border-color: rgb(79, 202, 174);
}
section#content.categoryCoding span.icon span.icon-tag {
    background-color: rgb(79, 202, 174);
}
section#content.categoryCoding span.icon span.icon-tag:before {
    border-color: rgb(79, 202, 174) transparent transparent rgb(79, 202, 174) !important;
}
section#content.categoryCoding span.icon span.icon-tag:after {
    border-color: rgb(79, 202, 174) rgb(79, 202, 174) transparent transparent !important;
}
section#content.categoryCoding code {
    background: rgb(167, 228, 214);
    color: inherit;
}
#page > header nav ul li.Linux a {
    color: rgb(118, 147, 195);
    border-color: rgb(118, 147, 195);
}

@media (max-width:1024px) {
    #page > header nav ul li.Linux a {
        background: rgb(118, 147, 195);
    }
    #page > header nav ul li.Linux:hover a {
        background: rgb(59, 73, 97);
        text-shadow: 1px 1px 1px rgb(186, 201, 225);
    }
}

section.boxes article.box.categoryLinux {
    background: rgb(118, 147, 195);
    border-color: rgb(118, 147, 195);
}
section#content.categoryLinux h2,
section#content.categoryLinux h3 {
    box-shadow: 0px 0px 15px rgb(118, 147, 195);
    background: rgb(118, 147, 195);
}
section#content.categoryLinux a {
    color: rgb(59, 73, 97);
}
section#content.categoryLinux div.summary img,
section#content.categoryLinux img,
section#content.categoryLinux svg {
    border-color: rgb(118, 147, 195);
}
section#content.categoryLinux span.icon span.icon-tag {
    background-color: rgb(118, 147, 195);
}
section#content.categoryLinux span.icon span.icon-tag:before {
    border-color: rgb(118, 147, 195) transparent transparent rgb(118, 147, 195) !important;
}
section#content.categoryLinux span.icon span.icon-tag:after {
    border-color: rgb(118, 147, 195) rgb(118, 147, 195) transparent transparent !important;
}
section#content.categoryLinux code {
    background: rgb(186, 201, 225);
    color: inherit;
}
#page > header nav ul li.Security a {
    color: rgb(116, 79, 174);
    border-color: rgb(116, 79, 174);
}

@media (max-width:1024px) {
    #page > header nav ul li.Security a {
        background: rgb(116, 79, 174);
    }
    #page > header nav ul li.Security:hover a {
        background: rgb(58, 39, 87);
        text-shadow: 1px 1px 1px rgb(185, 167, 214);
    }
}

section.boxes article.box.categorySecurity {
    background: rgb(116, 79, 174);
    border-color: rgb(116, 79, 174);
}
section#content.categorySecurity h2,
section#content.categorySecurity h3 {
    box-shadow: 0px 0px 15px rgb(116, 79, 174);
    background: rgb(116, 79, 174);
}
section#content.categorySecurity a {
    color: rgb(58, 39, 87);
}
section#content.categorySecurity div.summary img,
section#content.categorySecurity img,
section#content.categorySecurity svg {
    border-color: rgb(116, 79, 174);
}
section#content.categorySecurity span.icon span.icon-tag {
    background-color: rgb(116, 79, 174);
}
section#content.categorySecurity span.icon span.icon-tag:before {
    border-color: rgb(116, 79, 174) transparent transparent rgb(116, 79, 174) !important;
}
section#content.categorySecurity span.icon span.icon-tag:after {
    border-color: rgb(116, 79, 174) rgb(116, 79, 174) transparent transparent !important;
}
section#content.categorySecurity code {
    background: rgb(185, 167, 214);
    color: inherit;
}
#page > header nav ul li.Tools a {
    color: rgb(170, 105, 173);
    border-color: rgb(170, 105, 173);
}

@media (max-width:1024px) {
    #page > header nav ul li.Tools a {
        background: rgb(170, 105, 173);
    }
    #page > header nav ul li.Tools:hover a {
        background: rgb(85, 52, 86);
        text-shadow: 1px 1px 1px rgb(212, 180, 214);
    }
}

section.boxes article.box.categoryTools {
    background: rgb(170, 105, 173);
    border-color: rgb(170, 105, 173);
}
section#content.categoryTools h2,
section#content.categoryTools h3 {
    box-shadow: 0px 0px 15px rgb(170, 105, 173);
    background: rgb(170, 105, 173);
}
section#content.categoryTools a {
    color: rgb(85, 52, 86);
}
section#content.categoryTools div.summary img,
section#content.categoryTools img,
section#content.categoryTools svg {
    border-color: rgb(170, 105, 173);
}
section#content.categoryTools span.icon span.icon-tag {
    background-color: rgb(170, 105, 173);
}
section#content.categoryTools span.icon span.icon-tag:before {
    border-color: rgb(170, 105, 173) transparent transparent rgb(170, 105, 173) !important;
}
section#content.categoryTools span.icon span.icon-tag:after {
    border-color: rgb(170, 105, 173) rgb(170, 105, 173) transparent transparent !important;
}
section#content.categoryTools code {
    background: rgb(212, 180, 214);
    color: inherit;
}
