#page > div.wrapper {
    //display: inline-block;
    display:block;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

#page {
    letter-spacing: -0.31em; 
    *letter-spacing: normal; 
    word-spacing: -0.43em; 
}

.opera-only :-o-prefocus,
#page {
    word-spacing: -0.43em;
}

#page img {
    max-width: 100%;
}

@media (min-width:980px) {
    .pure-visible-phone     { display: none; }
    .pure-visible-tablet    { display: none; }
    .pure-visible-desktop   { }
    .pure-hidden-phone      { }
    .pure-hidden-tablet     { }
    .pure-hidden-desktop    { display: none; }
}

@media (max-width:480px) {
    .pure-g-r > [class ^= "pure-u"] {
        width:100%;
    }
}

@media (max-width:767px) {

    .pure-g-r > [class ^= "pure-u"] {
        width:100%;
    }            
    .pure-visible-phone     { } 
    .pure-hidden-phone      { display: none; }
    .pure-hidden-desktop    { }
    .pure-visible-desktop   { display: none; }
}

@media (min-width:768px) and (max-width:979px) {
    .pure-visible-tablet    {}
    .pure-hidden-tablet     { display: none; }
    .pure-hidden-desktop    {}
    .pure-visible-desktop   { display: none; }
}
